
.SearchForm {

  &-search {
    font-size: 1.5em;
  }

  input {
    font-size: 2em;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    transition: border-bottom 300ms;
  }
  input:focus {
    border: 0;
    border-bottom: 1px solid $picnic-primary;
  }

  .Spinner {
    display: inline-block;
    margin: 5px;
    padding: 0 15px;
  }
}
