
.SearchResult {

  &-airlineLogo {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 0.5em;

    img {
      max-width: 100%;
    }
  }

  &-price {
    font-size: 2em;
  }

  &-airlines {

  }

  &-legs {
    display: block;
  }

  &-leg {
    display: block;
  }

  &-segment span {
    padding-right: 0.5em;
  }

  &-enter {
    opacity: 0;
    max-height: 0;
    &-active {
      opacity: 1;
      max-height: 100px;
      transition: opacity 500ms ease-out, max-height 500ms ease-out;
    }
  }

  &-exit {
    opacity: 1;
    max-height: 100px;
    &-active {
      opacity: 0;
      max-height: 0;
      transition: opacity 300ms ease-out, max-height 300ms ease-out;
    }
  }
}
