
@import "picnic/src/picnic";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700");

html, body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.Header {
  &-logo {
    display: block;
    width: 261px;
    height: 40px;
    background: url("./img/logo.png") no-repeat;
    background-size: contain;
  }
}
