
.PassengersInput {

  margin: 1em;

  &-adult {
    display: inline-block;
  }

  &-adult li {
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    background: url("img/passenger-adult-off.png") center/100%;
  }
  &-adult li.active {
    background: url("img/passenger-adult-on.png") center/100%;
  }

  &-child {
    display: inline-block;
  }

  &-child li {
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    background: url("img/passenger-child-off.png") center/100%;
  }
  &-child li.active {
    background: url("img/passenger-child-on.png") center/100%;
  }
}
