
.SearchResult {

  &-airlineLogo {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 0.5em;

    img {
      max-width: 100%;
    }
  }

  &-price {
    font-size: 2em;
  }

  &-airlines {

  }

  &-legs {
    display: block;
  }

  &-leg {
    display: block;
  }

  &-segment span {
    padding-right: 0.5em;
  }

  &-rows {
    height: 180px;
    overflow-y: scroll;
  }

}
