
.SearchResult {

  min-height: 240px;

  &-airlineLogo {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 0.5em;

    img {
      max-width: 100%;
    }
  }

  &-price {
    flex: 1;
    font-size: 2.5em;
  }

  &-details {
    font-size: 0.5em;
    margin-left: 1em;
  }

  &-legs {
  }

  &-leg {
    display: flex;
    margin: 0.5em 2em 0;
  }

  &-legTitle {
    font-size: 0.8em;
    color: #999;
  }

  &-segment span {
    margin-right: 0.5em;
  }

  &-depart, &-arrive, &-stopover {
    flex: 0;
  }

  &-connection {
    flex: 1;
    height: 1px;
    margin: 0.75em 0 0;
    border-bottom: 1px dashed #ddd;
  }

  &-departAirport, &-arriveAirport {
    display: inline-block;
    width: 2.3em;
  }

  &-departSeparator, &-arriveSeparator {
    display: inline-block;
    height: 25px;
    width: 25px;
  }

  &-departSeparator {
    background: url("img/depart.png") center/100%;
  }

  &-arriveSeparator {
    background: url("img/arrive.png") center/100%;
  }

  &-enter {
    opacity: 0;
    max-height: 0;
    &-active {
      opacity: 1;
      max-height: 100px;
      transition: opacity 500ms ease-out, max-height 500ms ease-out;
    }
  }

  &-exit {
    opacity: 1;
    max-height: 100px;
    &-active {
      opacity: 0;
      max-height: 0;
      transition: opacity 300ms ease-out, max-height 300ms ease-out;
    }
  }
}


.ResultDetails {

  &-leg {
    margin-bottom: 0.5em;
  }

  &-legTitle {
    font-size: 0.8em;
    color: #999;
  }

  &-segment span {
    margin-right: 0.5em;
  }

  &-departTime, &-arriveTime {
    display: inline-block;
    width: 7em;
    span {
      padding-left: 0.5em;
    }
    select {
      width: 7em;
    }
  }

  &-departAirport, &-arriveAirport {
    display: inline-block;
    width: 2.3em;
  }

  &-departSeparator, &-arriveSeparator {
    display: inline-block;
    height: 25px;
    width: 25px;
  }

  &-departSeparator {
    background: url("img/depart.png") center/100%;
  }

  &-arriveSeparator {
    background: url("img/arrive.png") center/100%;
  }
}
