
.AirportInput {

  &-options {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &-options li {
    cursor: pointer;
    padding: 1em;
    margin: 0 0 1px 0;
    line-height: 1.5em;
    &:hover {
      background: #f6f6f6;
    }
  }
}
